* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: white;
    padding: 10px;
    position: sticky;
    top:0
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

header a{
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 700px;

}

.box {
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    transition: transform .5s;
}

.btn-signup{
    background-color: orange;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}

.section-title {
    text-align: center;
    font-size: 40px;

}

footer {
    padding: 20px;
    text-align: center;
    background-color: darkgray;
    color:white;
    font-size: large;
}

.box:hover {
    transform: scale(1.1,1.1);
}

#services img {
    border-radius: 300px;
}

